{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
 <!-- Page Title -->
 <div class="container main-container h-50 my-5">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4">The Dice Depot</h1>
        </div>
    </div>
    <br>
    <!-- Button Row -->
    <div class="row h-100">
        <div class="col-sm">
            <h2 class="display-4 card-style text-center">Buy   <a href="{% url 'all_products' %}"><i class="fas fa-wallet icon"></i></a></h2>
        </div>
        <div class="col-sm">
            <h2 class="display-4 card-style text-center">Sell   <a href="{% url 'sell' %}"><i class="fas fa-money-bill-wave icon"></i></a></h2>
        </div>
        <div class="col-sm">
            <h2 class="display-4 card-style text-center">Roll   <a href="http://diceroller.co/d20roller" target="_blank"><i class="fas fa-dice-d20 icon"></i></a></h2>
        </div>
    </div>
</div>

{% endblock %}