{% extends "base.html" %}
{% load static %}

{% block content %}
 <div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4">The Dice Depot</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="display-4">Buy</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="display-4">Sell</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="display-4">Roll</h2>
        </div>
    </div>
 </div>
{% endblock %}