{% extends "base.html" %}
{% load static %}

{% block content %}
 <div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4">The Dice Depot</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h2 class="display-4">Buy   <i class="fas fa-wallet"></i></h2> 
        </div>
        <div class="col-sm">
            <h2 class="display-4">Sell   <i class="fas fa-money-bill-wave"></i></h2>
        </div>
        <div class="col-sm">
            <h2 class="display-4">Roll   <i class="fas fa-dice-d20"></i></h2>
        </div>
    </div>
 </div>
{% endblock %}