{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container"> 
        <div class="row text-center card-body">
            <div class="col-12 col-lg-6 mb-5">
                <h1 class="text-center">Order Summary ({{ product_count }})</h1>
                <div class="row"> 
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0">Item(s)</p>
                    </div>
                </div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                        </div>
                        <div class="col-7 text-center">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p>Qty: <strong>{{ item.quantity }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="row text-center">
                    <div class="col-7">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
                
                
            <div class="col-12 col-lg-6">
                <p>Enter your details to complete your order : </p>
                <!--Checkout form -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- Customer details fieldset -->
                    <fieldset>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                    <div class="float-right mr-0">
                        {% if user.is_authenticated %}
                            <label for="id-save-info">Save this delivery information for next time</label>
                            <input type="checkbox" checked>
                        {% else %}
                            <label for="id-save-info">
                                <a  class="btn-info" href="{% url 'account_signup' %}">Create an account</a>
                                <a  class="btn-success" href="{% url 'account_login' %}">Login</a>
                            </label>
                        {% endif %}
                    </div>
                    </fieldset>
                    <!-- Seperate fieldset for payment details -->
                    <fieldset class="px-3">
                        <legend class="px-2 float-left w-auto">Payment Details</legend>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3" id="payment-failed"></div>
                        <div class="mb-3" id="card-errors"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="button mt-5 mb-2 text-center">
                        <a href="{% url 'view_bag' %}">
                            <span class="btn-primary btn-lg">Edit Bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
                        <p class="my-0">
                            <span>Order will be confirmed for : <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                        </div>


                </form>
            </div>
        </div>
            

        


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'stripe_elements.js' %}"></script>
{% endblock %}