html {
    height: 100%;
}

body {
    background: url('/media/dice.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #264027;
    font-family: 'Spectral SC', serif;
}

/* -------------- Bulma Styling */

.icon {
    align-items : center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-main {
    background : #264027;
    color: #ffffff;
}

.border-black {
    border: 1px solid #000000 !important;
}

/* -------------- Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}