html {
    height: 100%;
}

body {
    background: url('//media/images/dice.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #B38A58;
    font-family: 'Spectral SC', serif;
}