html {
    height: 100%;
}

body {
    background: url('/media/dice.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #264027;
    font-family: 'Spectral SC', serif;
}

.main-container {
    padding-bottom: 30px;
}

/* -------------- Bulma Styling */

.icon {
    align-items : center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #264027;
}

.btn-main {
    background : #264027;
    color: #ffffff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000000 !important;
}

/* -------------- Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* ------------- Card Styling */

.card-style {
    padding: 60px 0px;
    background-color: #264027;
}

/* ------------- Navbar Styling */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position : fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

.header-container {
    padding-top: 164px;
}

