<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_products' %}?sort=name&direction=asc" class="dropdown-item">Sort A-Z</a>
                <a href="{% url 'all_products' %}?sort=name&direction=desc" class="dropdown-item">Sort Z-A</a>
                <a href="{% url 'all_products' %}?sort=price&direction=asc" class="dropdown-item">Sort By Price (Low To High)</a>
                <a href="{% url 'all_products' %}?sort=price&direction=desc" class="dropdown-item">Sort By Price (High To Low)</a>
                <a href="{% url 'all_products' %}?sort=year_published&direction=asc" class="dropdown-item">Sort By Release Year (Oldest To Newest)</a>
                <a href="{% url 'all_products' %}?sort=year_published&direction=desc" class="dropdown-item">Sort By Release Year (Newest To Oldest)</a>
                <a href="{% url 'all_products' %}?sort=min_age&direction=asc" class="dropdown-item">Sort By Minimum Age</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All Games</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'sell' %}" id="sell-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sell Games
            </a>
        </li>
    </ul>
</div>