{% extends "base.html" %}
{% load static %}

{% block page_header %}


{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>All Games</h2>
            </div>
        </div>
        <div class="row">
            <div class="container col-10">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-center del">£{{ product.publishers }}</p>
                                        </div>
                                        <div class="col">
                                            <p class="lead mb-0 text-center del">£{{ product.year_published }}</p>
                                        </div>
                                        <div class="col">
                                            <p class="lead mb-0 text-center del">£{{ product.msrp }}</p>
                                        </div>
                                        <div class="col">
                                            <p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-sm-none">
                            <hr>
                        </div>

                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                            <hr>
                        </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                            <hr>
                        </div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}