{% extends "base.html" %}
{% load static %}

{% block page_header %}


{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="">
                            <img src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4"></div>
        </div>
        
    </div>
{% endblock %}